.btn {
	background-color: darkgrey;
	border-radius: 3%;
	border: none;
	padding: 10px 20px 10px 20px;
	margin-left: 1px;
	margin-right: 1px;
	outline: none;
	font-size: 1.1em;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.btn:active {
	outline: none;
	background-color: grey;
	border: none;
}

.showed {
	display: block;
}

.hidden {
	display: none;
}

.container {
	width: 80%;
	max-width: 80%;
	margin: auto;
	margin-top: 20px;
	font-size: 3em;
	display: block;
	flex-wrap: wrap;
  /*grid-template-columns: 155px 155px 150px;
	justify-self: center; 
  grid-template-rows: 140px 140px 140px;*/
	justify-content: space-between;
}

.container-1, .container-2 {
	display: inline-flex;
}

.hole {
	position: relative;
	background-color: black;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 3;
	margin-right: 0px;
	
}

.eboss {
	height: 68px;
	margin-top: 14px;
	width: 68px;
	border-radius: 50%;
}

/*
.first {
	margin-top: -8px;
	margin-right: 20px; 	
}

.second {
	margin-top: 5px;
	margin-left: 3px; 	
}

.third {
	margin-top: -15px;
	margin-right: -5px; 	
}

.fourth {
	margin-top: 5px;
	margin-right: 15px; 	
}*/

@media screen and (max-device-width: 580px) {
	.hole {
		width: 80px;
		height: 80px;
		margin-top: 20px;
	}

	.eboss {
		height: 60px;
		width: 60px;
		margin-top: 14px;
	}

	.container {
		width: 90%;
		max-width: 90%;
		margin-top: 10px;
	}
}

@media screen and (min-device-width: 701px) {
	.hole {
		width: 100px;
		height: 100px;
		margin-top: 30px;
	}

	.eboss {
		height: 70px;
		width: 70px;
		margin-top: 14px;
	}
}

@media screen and (min-device-width: 900px) {
	.hole {
		width: 140px;
		height: 140px;
		margin: 60px;
		margin-left: 35px;
		margin-top: 70px;
	}

	.eboss {
		height: 100px;
		width: 100px;
		margin-top: 14px;
	}

	.container {
		margin-left: 200px;
		margin-top: 100px;
		max-width: 70%;
	}
}

@media screen and (min-device-width: 1200px) {
	.hole {
		width: 180px;
		height: 180px;
		margin: 60px;
		margin-left: 50px;
		margin-top: 100px;
	}

	.eboss {
		height: 130px;
		width: 130px;
		margin-top: 20px;
	}

	.container {
		margin-left: 200px;
		margin-top: 10px;
		max-width: 70%;
	}
}