.imageCropper {
	position: absolute;
	
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;

	padding-top: 10px;

	width: 95%;
	height: 90%;
	background-color: lightgrey;
	z-index: 5;
	border-radius: 20px;

}

.close {
	float: right;
	margin: 0;
	margin-top: 1%;
	margin-right: 2%;
	font-size: 1.8em;
}

.left, .right {
	margin-top: 3%;
	display: block;

}

.imgPreview {
	border-radius: 50%;
	width: 300px;
	height: 200px;
	margin: 0 auto;
	margin-top: 3%;
	display: inline-block;
}

.cropParent {
	width: 180px;
}

.imageCrop {
	margin-right: 25px;
	background-color: lightgrey;
	float: left;
	max-width: 100%;
	max-height: 80%;
	margin-top: 10px;
}

canvas {
	width: 30%;
	height: 42%;
	border-radius: 50%;
	margin-left: 25px;
	float: right;
}

.justSave {
	margin-top: 25px;
	border: none;
	padding: 8px;
	font-weight: 600;
	border-radius: 10%;
	background-color: rgb(205,133,63);
}

.cropNsave {
	padding-right: 26px;
	padding-left: 26px;
	margin-left: 25px;
}

.fileInput {
	color: lightgrey;
	z-index: 1; 
	display: none;
}

.fileInputLabel {
	background: rgb(205,133,63);
	z-index: 2;
	text-shadow: none;
	font-weight: 600;
	font-size: 0.9em;
	font-style: bold;
	font-family: Sans-serif;
	margin-right: 180px;
	margin-left: 10px;
	border-radius: 10%;
	padding: 8px 18px 7px 18px;
}

.fileInputDefault {
	margin-top: 3px;
}

.previewH1 {
	color: black;
	font-size: 1.4em;
	font-family: Sans-serif;
	font-weight: 300;
	margin-top: 8%;
}

#zoomer {
  display: block;
  width: 50%;
  margin: 2rem auto;
}

@media screen and (max-device-width: 600px) {
	.imageCrop {
		max-width: 1px;
		max-height: 160px;
	}

	.little {
		margin-top: -200px;
	}
}